.department {
    color: var(--base-text-color);
    background-color: var(--secondary-color);
    max-height: 90vh;
    min-height: 90vh;
    box-shadow: var(--light-shadow1);
    padding: 15px;
    td, th {
        height: 50px;
        border-bottom: 1px solid grey;
    }
     table {
        border-collapse: collapse;
        text-align: center;
     }

     button {
        padding: 15px;
        border-radius: 4px;
     }

     .delete {
        background-color: red;
        color : white
     }

     .edit {
        background-color: var(--blue-color);
        margin-right: 5px;
        color: white;
     }
}

.departmentTable {
   color: var(--base-text-color);
    td, th {
        height: 50px;
        border-bottom: 1px solid grey;
    }
     table {
        border-collapse: collapse;
        text-align: center;
     }

     th{
      background-color: var(--thead-bg-color);
     }
     button {
        padding: 15px;
        border-radius: 4px;
     }

     .delete {
        background-color: red;
        color : white
     }

     .edit {
        background-color: var(--blue-color);
        margin-right: 5px;
        color: white;
     }

}

.pagination {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-top: 20px;
   gap: 5px;
   color:var(--base-text-color)
 
}

.pagination li {
   list-style: none;
   margin-bottom: 5px;
   color:var(--base-text-color)
}

.pagination li a {
   padding: 5px 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   text-decoration: none;
   color:var(--base-text-color)
}

.pagination li.active a {
   background-color: var(--blue-color);
   color: white;
}
