.custom-radio-button {
    display: block; 
    width: fit-content; 
    border-radius: 10px; 
    padding: 5px 10px; 
    margin-bottom: 10px;
  }
  
  .settings-page{
    color: var(--base-text-color);
  }